@model IEnumerable<Virgil.Models.Topic>

@{
    ViewBag.Title = "Virgil";
}
<br />
<div class="jumbotron">
    <img src="~/Content/Laurel-Wreath.png" height="90" class="pull-right" title="Virgil - Your Guide through Health Care Hades" alt="Virgil - Your Health Care Survival Guide" />
    <h1>Virgil Admin</h1>
    <p class="lead">A simple little web site to allow for the creation and management of topics used in the Virgil app.</p>
    @*<p>
        <a href="#" class="btn btn-primary btn-lg">Sign in &raquo;</a>
    </p>*@
</div>
<p>
    @Html.ActionLink("Add New Topic", "Create", null, new {@class = "btn btn-lg btn-success"})
</p>
<h3>Topics</h3>
<table id="topicsTable" class="table table-striped table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            Topic Body
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayOrder)
        </td>
        <td>
            @Html.ActionLink(item.Title, "Edit", new { id=item.id})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            <div class="hasTooltip">Hover for Body</div>
            <div style="display: none;">@Html.Raw(item.Body)</div>
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.id }, new {@class = "text-danger"})
        </td>
    </tr>
}

</table>
