@model IEnumerable<Virgil.Models.Section>
@{
    ViewBag.Title = "Manage Sections";
}

<h2>Manage Sections</h2>

<table class="table table-hover table-striped table-responsive">
    <thead>
    <tr>
        <th>
            Encounter
        </th>
        <th>
            Section Name
        </th>
        <th>
            Icon
        </th>
        <th>
            Topics
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var s in Model)
    {
        <tr>
            <td>
                @s.Encounter.EncounterName
            </td>
            <td>
                @s.SectionName
            </td>
            <td>
                @Html.DropDownList("Icons", (IEnumerable<SelectListItem>) ViewBag.icons, @s.SectionIcon, new {@class = "form-control"})
            </td>
            <td style="max-width: 400px;">
                <div class="topicsListContainer">
                    <button data-section="@s.SectionName" data-sectionid="@s.id" data-encounter="@s.Encounter.EncounterName" class="btn btn-sm btn-success assignTopic">
                        Assign Topics
                    </button>

                    @{
                        var listName = string.Format("list{0}-{1}", s.Encounter.EncounterName.Replace(" ", ""), s.id);
                    }
                    <h3>Topics</h3>
                    <p class="topicsListBackground">
                        Drag and drop the topics to set the desired display order.  To add or remove topics,
                        please use the green <strong>Assign Topics</strong> button above.
                    </p>
                    <ol id="@listName" class='sortable' style="list-style: none;">
                        @{
                            var sortedTopicIds = s.SectionTopicOrder.Split(',');
                        }
                        @foreach (var topicId in sortedTopicIds)
                        {
                            foreach (var t in s.Topics)
                            {
                                if (t.id == Int32.Parse(topicId))
                                {
                                    <li data-id="@t.id" data-title="@t.Title">@Html.ActionLink(@t.Title, "Edit", new {id = t.id})</li>
                                }
                            }
                           
                        }
                    </ol>
                    <button data-listname="@listName" data-sectionid="@s.id" data-encounterid="@s.EncounterId" class="btn btn-sm btn-info setTopicOrder">Set Order</button>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

<div id="assignTopicsDialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Manage Topics for Section <span class="sectName text-info"></span></h4>
            </div>
            <div class="modal-body">
                <label>Encounter:</label><span class="encounterName text-info"></span><br />
                <label>Section: </label><span class="sectName text-info"></span>
                @Html.Hidden("sectionId")
                @Html.Hidden("encounter")
                @Html.DropDownList("topicsForSection", (IEnumerable<SelectListItem>) ViewBag.topics, new {@class = "form-control", multiple = "multiple"})
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveTopics" class="btn btn-success" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="pleaseWait" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Working On It...</h4>
            </div>
            <div class="modal-body">
                <img src="~/Content/Gear.gif" style="margin-right: 20px; display: inline;" /><h3 style="display: inline;">Please wait. Retrieving Topics...</h3>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>